*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
color: rgb(40, 49, 49);
background-color: bisque;
}

.container{
    max-width: 1240px;
    height: 1000px;
}

header{
text-align: center;
padding: 20px 0;
}

.description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
}


.form-container{
    width:500px;
    margin: auto;
    background-color: beige;
    color: cyan;
}

.survey-form{
    max-width: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}